
h1{
  text-align:left;
}


table{
  margin-left: 30px;
  border: 1px solid black;
  padding:30;
  background-color:#f0feff;
}
body{
  margin:200px;
  margin-top:20px;
  margin-bottom: 0px;
  background-color: #e6fffc;
}



#content {
  padding-top: 70px;
  min-height: calc(100vh - 92px);
}


  .navbar,.navbar-default{
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
  }

  .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
  }



thead{
  color: green;
  background-color: #ffff99;
}

tr{
  border: 1px solid black;
}

td{
  border: 1px solid black;
  padding:30;
  margin:20;
  
}

#addEventItem{
  margin-top:50px;
}

#addMeetItem{
   margin-top:20px;
}

#addConsultItem{
   margin-top:20px;
 }
 
 #eventListItem{
   margin-top:20px;
 }
 #meetingListItem{
   margin-top:20px;
 }
 #consultationListItem{
   margin-top:20px;
 }
 #updates{
   margin-top:20px;
 }
 #updateConsultationItem{
   margin-top:20px;
 }
 
 #contactus{
   margin-top:20px;
 }
 
 .subtitle{
   font-size: 30;
 }
 
 footer{
   background-color: #63c7c5;
   margin-top:60px;
   padding:10px;
 }
 
 #firstItem{
   margin-top:20px;
 }